<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% end %} - Astnote</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel='shortcut icon' type='image/x-icon' href='{{root}}/static/favicon.ico' />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.0/js.cookie.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/semantic.min.css">
        <script src="{{root}}/static/util.{{min}}js"></script>
        <link rel="stylesheet" href="{{root}}/static/common.{{min}}css" />
        {% block meta %}{% end %}
    </head>
    <body>
        {% block content %}{% end %}
    </body>
    {% block scripts %}{% end %}
</html>