<div class="ui top left pointing dropdown inline" id="syntax_dropdown">
  <i class="icon code" style="opacity:0.7"></i>
  <div class="text" style="opacity:0.7">Syntax</div>
  <div class="menu" id="syntax_menu">
    <div class="item" syntax="c_cpp" ext="cpp">C/C++</div>
    <div class="item" syntax="java">Java</div>
    <div class="item" syntax="csharp" ext="cs">C#</div>
    <div class="item" syntax="objectivec" ext="m">Objective-C</div>
    <div class="item" syntax="python" ext="py">Python</div>
    <div class="item" syntax="javascript" ext="js">Javascript</div>
    <div class="item" syntax="ruby">Ruby</div>
    <div class="item" syntax="swift">Swift</div>
    <div class="item" syntax="html">HTML</div>
    <div class="item" syntax="css">CSS</div>
    <div class="item" syntax="php">PHP</div>
    <div class="item" syntax="sql">SQL</div>
    <div class="item" syntax="autohotkey" ext="ahk">Autohotkey</div>
    <div class="item" syntax="lisp">Lisp</div>
    <div class="item" syntax="lua">Lua</div>
  </div>
</div>
<div class="ui top left pointing dropdown inline" id="theme_dropdown">
  <i class="icon theme" style="opacity:0.7"></i>
  <div class="text" style="opacity:0.7">Theme</div>
  <div class="menu" id="theme_menu">
    <div class="item" theme="monokai" theme-style="dark">Monokai</div>
    <div class="item" theme="mono_industrial" theme-style="dark">Mono Industrial</div>
    <div class="item" theme="tomorrow">Tomorrow</div>
    <div class="item" theme="tomorrow_night" theme-style="dark">Tomorrow Night</div>
    <div class="item" theme="twilight" theme-style="dark">Twilight</div>
    <div class="item" theme="textmate">Textmate</div>
    <div class="item" theme="solarized_light">Solarized Light</div>
    <div class="item" theme="solarized_dark" theme-style="dark">Solarized Dark</div>
    <div class="item" theme="github">Github</div>
    <div class="item" theme="dawn">Dawn</div>
    <div class="item" theme="terminal" theme-style="dark">Terminal</div>
    <div class="item" theme="ambiance" theme-style="dark">Ambiance</div>
  </div>
</div>
<div class="unit" id="text_warp_toggle" style="cursor:pointer;" onclick="coder.warpmode.toggle()">
</div>

<script>
  var coder = {};
  coder.theme = {};
  coder.syntax = {};
  coder.init  = function (userId) {
    coder.editor = ace.edit("firepad");
    coder.session = coder.editor.getSession();
    coder.editor.$blockScrolling = Infinity;
    coder.warpmode(true);
    coder.session.setUseWorker(false);
    coder.theme.load();
    coder.syntax.load();
    return Firepad.fromACE(firepadRef, coder.editor, {userId: userId});
  }
  coder.theme.load = function()
  {
    var theme_code = 'dawn';
    if (get_url_parameter('theme'))
      lang = get_url_parameter('theme');
    if (Cookies.get('astnote-code-theme'))
      theme_code = Cookies.get('astnote-code-theme');
    coder.theme.set(theme_code);
    var menu_item = $('#theme_menu .item[theme="'+theme_code+'"]');
    if (menu_item) menu_item.click();
  }
  coder.theme.set = function(theme_code)
  {
    coder.theme.val = theme_code;
    var menu_item = $('#theme_menu .item[theme="'+theme_code+'"]');
    if (menu_item && menu_item.attr('theme-style') == 'dark')
      $('#screen').addClass('dark');
    else
      $('#screen').removeClass('dark');
    coder.editor.setTheme("ace/theme/"+theme_code);
    if(!get_url_parameter('demo'))
      Cookies.set('astnote-code-theme',theme_code,{ expires: 90 });
  }
  coder.syntax.load = function ()
  {
    var lang = 'python';
    if (get_url_parameter('syntax'))
      lang = get_url_parameter('syntax');
    if (Cookies.get('astnote-code-syntax'))
      lang = Cookies.get('astnote-code-syntax');
    coder.syntax.set(lang);
    var menu_item = $('#syntax_menu .item[syntax="'+lang+'"]');
    if (menu_item) menu_item.click();
  }
  coder.syntax.set = function(lang)
  {
    coder.syntax.val = lang;
    coder.session.setMode("ace/mode/"+lang);
    if(!get_url_parameter('demo'))
      Cookies.set('astnote-code-syntax',lang,{expires: 10, path:window.location.pathname});
  }
  coder.syntax.get_ext = function()
  {
    var menu_item = $('#syntax_menu .item[syntax="'+coder.syntax.val+'"]');
    if (menu_item && menu_item.attr('ext')) return menu_item.attr('ext');
    return coder.syntax.val;
  }
  coder.warpmode = function(value)
  {
    if (value != undefined)
    {
      coder.warpmode.warp = value;
      coder.session.setUseWrapMode(coder.warpmode.warp);
      $('#text_warp_toggle').html(coder.warpmode.warp?'Warp on':'Warp off');
    }
    return coder.warpmode.warp;
  }
  coder.warpmode.toggle = function(){
    coder.warpmode(!coder.warpmode.warp);
  }

  $('#syntax_dropdown, #theme_dropdown').dropdown();
  $('#syntax_menu .item').on('click',function(){coder.syntax.set($(this).attr('syntax'))});
  $('#theme_menu .item').on('click',function(){coder.theme.set($(this).attr('theme'))});
</script>
