{% extends base.html %}

{% block title %}Editor{% end %}

{% block meta %}
  <!-- Firebase -->
  <script src="https://cdn.firebase.com/js/client/2.3.2/firebase.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.8/clipboard.min.js"></script>

  {% if mode == 'c' %}
    <!-- ACE and theme files -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.3/ace.js"></script>
  {% else %}
    <!-- CodeMirror -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.10.0/codemirror.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.10.0/codemirror.css" />
  {% end %}
  {% if mode == 'm' %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.3.0/highlight.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/github-markdown-css/2.2.1/github-markdown.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.3.0/styles/solarized-light.min.css"/>
  {% end %}

  <script src="/static/firepad.js"></script>
  <script src="/static/firepad-userlist.js"></script>
  <link rel="stylesheet" href="/static/firepad.css" />
  <link rel="stylesheet" href="/static/firepad-userlist.css" />
{% end %}

{% block content %}
  <div class="ui left vertical pushable sidebar" style="background: #111;">
    {% include userlist.part.html %}
  </div>
  <div class="pusher" style="height: 100%;overflow:hidden;">
    <div class="menu bar" id="menu_bar">
        <a href="/" class="unit highlight" style="cursor:pointer;" id="back_button" data-content="Back to Astnote homepage" data-variation="tiny basic">
          <i class="left arrow icon"></i>
        </a>
        <div class="inline" id="historys">
          <div class="ui dropdown transition hidden" name="histoy_dropdown">
            <i style="opacity:0.7" class="history icon"></i>
            <div class="menu">
            </div>
          </div>
          {% include historys.part.html %}
        </div>
        <div onclick="$('.ui.sidebar').sidebar('toggle');" class="unit highlight" style="cursor:pointer;" data-content="Cooperation" data-variation="tiny basic">
          <i class="exchange icon"></i>
        </div>
        <div class="unit highlight" style="cursor:pointer;" onclick="save()" data-content="Save to file" data-variation="tiny basic">
          <i class="cloud download icon"></i>
        </div>
        {% if mode == 'c' %}
          {% include code.bar.part.html %}
        {% elif mode == 'm' %}
          {% include markdown.part.html %}
        {% end %}
    </div>
    <div id="editor" style="position:relative;" class="{{'markdown' if mode == 'm' else ''}}">
      <div id="firepad"></div>
      {% if mode == 'm' %}
        <div id="mark_preview">
          <div class="button" onclick="markdown.save()">
          Save as HTML
          </div>
          <div class="button" style="clear: left;" onclick="markdown.update()">
          Refresh
          </div>
          <div class="markdown-body" style="margin-top:2em;"></div>
        </div>
      {% end %}
    </div>
  </div>
{% end %}
{% block scripts %}
  <script>
    var save = function(filename){};
    var get_file_name = function(ext)
    {
      ext = ext || 'txt';
      return 'astnote-{{name}}-'+(new Date()).toISOString().replace(/:|T/g,'-')+'.'+ext;
    }
    function resize_pad(){
      var height = $(window).height() - ($('#menu_bar').height()||0) - 8;
      $('#editor').css('height',height).css('max-height',height);
      $('#firepad .firepad').css('height',height - ($('.firepad-toolbar').height()||0) - 2);
    }
    function get_user_id()
    {
      var userId = Cookies.get('astnote-user-id');
      if (!userId || get_url_parameter('new_user'))
      {
        userId = Math.floor(Math.random() * 9999999999).toString();
        Cookies.set('astnote-user-id',userId,{ expires: 90, path:'/'});
      }
      return userId;
    }
    $(window).bind('keydown', function(event) {
      if (event.ctrlKey || event.metaKey)
        if (String.fromCharCode(event.which).toLowerCase() == 's')
        {
          event.preventDefault();
          if (confirm("Do you want save this note to file ?"))
            save();
        }
    });
  </script>
  <script>
    $('[name=histoy_dropdown]').addClass('top left pointing');
    $('.ui.sidebar').sidebar({dimPage:false,closable:false});
    if(get_url_parameter('bar') == 'hidden') $('#menu_bar').hide();
    if(get_url_parameter('back') == 'hidden') $('#back_button').hide();
    window.addEventListener('resize',resize_pad, true);
    $(resize_pad);

    var fireurl = '{{firebase}}/astnote/{{mode}}/{{name}}';
    var firepadRef = new Firebase(fireurl);
    var firepad = undefined;
    var userId = get_user_id();
    if (init_userlist) init_userlist(userId);

    /// ---- Modes ---- ///
    if ('{{mode}}' == 'c')
    {
      //Editor Init
      firepad = coder.init();
      save = function(filename){
        filename = filename || get_file_name(coder.syntax.get_ext());
        download(filename,firepad.getText());
      };
    }
    else if ('{{mode}}' == 'r')
    {
      //rich text
      var codeMirror = CodeMirror(document.getElementById('firepad'), { lineWrapping: true });
      firepad = Firepad.fromCodeMirror(firepadRef, codeMirror,
          { richTextToolbar: true, richTextShortcuts: true, userId: userId});
      save = function(filename){
        filename = filename || get_file_name('html');
        var html_data = '<!DOCTYPE html><html><head><meta charset="UTF-8"/><title>Astnote Save</title></head><body>'+firepad.getHtml() + '</body></html>';
        download(filename,html_data);
      }
    }
    else
    {
      //plain text
      var codeMirror = CodeMirror(document.getElementById('firepad'), { lineWrapping: true });
      firepad = Firepad.fromCodeMirror(firepadRef, codeMirror, { userId: userId});
      save = function(filename){
        filename = filename || get_file_name('txt');
        download(filename,firepad.getText());
      }
    }

    if(get_url_parameter('demo'))
    {
      $('#back_button').hide();
      $('#historys').hide();
    }
    else
    {
      var room_url = window.location.pathname;
      var room_history = access_cookies('history');
      var is_new_room = true;
      if (!room_history) room_history = [];
      if (room_history.length >= 7) room_history.shift();
      var room_index = room_history.indexOf(room_url);
      if (room_index > -1)
          room_history.splice(room_index, 1);
      room_history.push(room_url);
      access_cookies('history',room_history);
    }

    $(function() {
      $('[data-content]').popup();
    })
  </script>
{% end %}
