{% extends base.html %}

{% block title %}Editor{% end %}

{% block meta %}
  <!-- Firebase -->
  <script src="https://cdn.firebase.com/js/client/2.3.2/firebase.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.8/clipboard.min.js"></script>

  {% if mode == 'c' %}
    <!-- ACE and theme files -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.3/ace.js"></script>
  {% else %}
    <!-- CodeMirror -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.10.0/codemirror.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.10.0/codemirror.css" />
  {% end %}
  {% if mode == 'm' %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.3.0/highlight.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/github-markdown-css/2.2.1/github-markdown.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.3.0/styles/solarized-light.min.css"/>
  {% end %}
  {% if min %}
    <script src="{{ static_url('firepad.min.js') }}"></script>
  {% else %}
    <script src="{{ static_url('firepad.js') }}"></script>
  {% end %}
  <link rel="stylesheet" href="{{ static_url('firepad.css') }}" />

  <script src="{{ static_url('editor.js') }}"></script>
{% end %}

{% block content %}

<div class="ui modal" name="invite">
  <i class="close icon"></i>
  <div class="content">
    <h3 class="ui header">
      Invite your friends edit with you
      <div class="sub header">
      Copy and share this link to your friends.
      </div>
    </h3>
    <div class="ui fluid action input">
      <input type="text" name="share_url" autocomplete="off" autocorrect="off"
             autocapitalize="off" spellcheck="false"/>
      <div class="ui teal icon button" name="share_copy">
        <i class="icon paste"></i>
      </div>
    </div>
    <h3 class="ui header">
      Quick Invite
      <div class="sub header">
      Press and hold the same button with your friend at same time.
      </div>
    </h3>
    <div id="quick_joins"></div>
  </div>
</div>
<div class="ui modal" name="code_setting">
  <i class="close icon"></i>
  <div class="content">
    <div class="ui button" id="text_warp_toggle" style="cursor:pointer;"
         onclick="coder.warpmode.toggle()"></div>
  </div>
</div>
<div class="ui popup" id="history_popup">
  <div class="ui link list" id="history_list"></div>
</div>


<div class="screen" id="screen">
  <div class="menu bar" id="menu_bar">
      <input type="text" class="title-input" id="editor_title_input"
             maxlength="40" placeholder="Enter a Title">
      <a href="/" class="unit highlight" style="cursor:pointer;" id="back_button">
        <i class="left arrow icon"></i>
      </a>
      <div class="unit highlight" id="history_button">
        <i class="history icon"></i>
      </div>
      <div class="unit highlight" style="cursor:pointer;" onclick="modals.toggle('invite')">
        <i class="share alternate icon"></i>
      </div>
      <div class="unit highlight" style="cursor:pointer;" onclick="editor.save()">
        <i class="cloud download icon"></i>
      </div>
      {% if mode == 'c' %}
        <div class="ui top left pointing dropdown inline" id="syntax_dropdown">
          <i class="icon code" style="opacity:0.7"></i>
          <div class="text" style="opacity:0.7">Syntax</div>
          <div class="menu" id="syntax_menu">
            <div class="item" syntax="c_cpp" ext="cpp">C/C++</div>
            <div class="item" syntax="java">Java</div>
            <div class="item" syntax="csharp" ext="cs">C#</div>
            <div class="item" syntax="objectivec" ext="m">Objective-C</div>
            <div class="item" syntax="python" ext="py">Python</div>
            <div class="item" syntax="javascript" ext="js">Javascript</div>
            <div class="item" syntax="ruby">Ruby</div>
            <div class="item" syntax="swift">Swift</div>
            <div class="item" syntax="html">HTML</div>
            <div class="item" syntax="css">CSS</div>
            <div class="item" syntax="php">PHP</div>
            <div class="item" syntax="sql">SQL</div>
            <div class="item" syntax="autohotkey" ext="ahk">AutoHotkey</div>
            <div class="item" syntax="lisp">Lisp</div>
            <div class="item" syntax="lua">Lua</div>
          </div>
        </div>
        <div class="ui top left pointing dropdown inline" id="theme_dropdown">
          <i class="icon theme" style="opacity:0.7"></i>
          <div class="text" style="opacity:0.7">Theme</div>
          <div class="menu" id="theme_menu">
            <div class="item" theme="monokai" theme-style="dark">Monokai</div>
            <div class="item" theme="mono_industrial" theme-style="dark">Mono Industrial</div>
            <div class="item" theme="tomorrow">Tomorrow</div>
            <div class="item" theme="tomorrow_night" theme-style="dark">Tomorrow Night</div>
            <div class="item" theme="twilight" theme-style="dark">Twilight</div>
            <div class="item" theme="textmate">Textmate</div>
            <div class="item" theme="solarized_light">Solarized Light</div>
            <div class="item" theme="solarized_dark" theme-style="dark">Solarized Dark</div>
            <div class="item" theme="github">Github</div>
            <div class="item" theme="dawn">Dawn</div>
            <div class="item" theme="terminal" theme-style="dark">Terminal</div>
            <div class="item" theme="ambiance" theme-style="dark">Ambiance</div>
          </div>
        </div>
        <div class="unit highlight" style="cursor:pointer;" onclick="modals.toggle('code_setting')">
          <i class="setting icon"></i>
        </div>
      {% elif mode == 'm' %}
        <div class="unit highlight" style="cursor:pointer;" onclick="markdown.toggle_preview()" id="md_preview_btn"></div>
        <div class="unit highlight" style="cursor:pointer;" onclick="markdown.toggle_scroll_sync()" id="md_sync_btn"></div>
      {% end %}
  </div>
  <div id="editor" style="position:relative;margin:0;padding:0;" class="{{'markdown' if mode == 'm' else ''}}" >
    <div class="ui active inverted dimmer">
      <div class="ui large text loader">Restoring</div>
    </div>
    <div id="firepad"></div>
    {% if mode == 'm' %}
      <div id="mark_preview">
        <div class="button" onclick="markdown.save()">
        Save as HTML
        </div>
        <div class="button" style="clear: left;" onclick="markdown.update()">
        Refresh
        </div>
        <div class="markdown-body" style="margin-top:2em;"></div>
      </div>
    {% end %}
  </div>
  <div class="userlistbar" id="userlist"></div>
</div>
{% end %}
{% block scripts %}
  <script>
    function resize_pad(){
      var height = $(window).height() - ($('#menu_bar').height()||0) - ($('#userlist').height()||0) - 6;
      $('#editor').css('height',height).css('max-height',height);
      $('#firepad .firepad').css('height',height - ($('.firepad-toolbar').height()||0) - 2);
    }
    function get_user_id()
    {
      var userId = Cookies.get('astnote-user-id');
      if (!userId || get_url_parameter('new_user'))
      {
        userId = Math.floor(Math.random() * 9999999999).toString();
        Cookies.set('astnote-user-id',userId,{ expires: 90, path:'/'});
      }
      return userId;
    }
    $(window).bind('keydown', function(event) {
      if (event.ctrlKey || event.metaKey)
        if (String.fromCharCode(event.which).toLowerCase() == 's')
        {
          event.preventDefault();
          if (confirm("Do you want save this note to file ?"))
            editor.save();
        }
    });
  </script>
  <script>
    window.addEventListener('resize',resize_pad, true);
    $(resize_pad);

    var firepadRef = new Firebase('{{firebase}}/astnote/{{mode}}/{{name}}-{{authcode}}');
    var userId = get_user_id();
    historys.init();
    userlist.init(userId);
    editor.init(firepadRef,'firepad',userId, '{{mode}}');
    modals.init();
    editor.firepad.on('ready', function(){$('#editor .dimmer').removeClass('active');});

    var title_input = $('#editor_title_input');
    title_input.on('change',function(){
      setTimeout(function(){title_input.attr({width: 'auto', size: title_input.val().length})},500);
      if (title_input.is(':focus'))
        editor.update_meta('title',title_input.val());
    }).blur(function(){editor.update_meta('title',title_input.val())});


    if(get_url_parameter('bar') == 'hidden') $('#menu_bar').height(0).hide();
    if(get_url_parameter('back') == 'hidden') $('#back_button').hide();
    if(get_url_parameter('demo'))
    {
      $('#back_button').hide();
      $('#historys').hide();
      $('#editor_title_input').hide();
      historys.renew = function(){};
    }

    $('#history_button').popup({popup:'#history_popup',on:'click'});
  </script>
{% end %}
