<script>
var room_history = access_cookies('history');
function remove_historys(index)
{
  var room_history = access_cookies('history');
  if (!room_history) room_history = [];
  if (index > -1)
      room_history.splice(index, 1);
  access_cookies('history',room_history);
  display_historys();
}
function display_historys()
{
  var menu = $('[name=histoy_dropdown] .menu').empty();
  if (room_history.length)
  {
      $.each(room_history,function(i,e){
          menu.append('<div class="item" target="'+e+'">'+format_history(e,0)+'</div>');
      });
      $('[name=histoy_dropdown]')
        .removeClass('transition hidden')
        .dropdown({
            onChange: function(t,h,selectedItem) {
              window.location = selectedItem.attr('target');
            }
          });
      $('[name=histoy_prev_btn]')
        .removeClass('transition hidden')
        .on('click',function(){
          window.location = room_history[room_history.length-1];
        });
  }
}
$(function(){
  display_historys();
});
</script>