{% extends base.html %}

{% block title %}Index{% end %}

{% block content %}
<div class="ui main container" style="margin-top: 3em;">
  <h1 class="ui header">
    Astnote
    <div class="sub header">
    An online real-time collaborative text editor.<br>
    <span style="font-style:italic;opacity:0.8">
    powered by <a href="https://firepad.io/" target="_blank">Firepad</a>, but more than Firepad.</span>
    </div>
  </h1>
  <div class="ui compact orange buttons" style="margin-bottom:0.5em;">
    <div class="ui button" name="histoy_prev_btn">Recent</div>
    <div class="ui compact floating dropdown icon button" name="histoy_dropdown">
      <i class="dropdown icon"></i>
      <div class="menu"></div>
      {% include historys.part.html %}
    </div>
  </div>
  <div class="ui compact teal dropdown button" style="margin-left:0.5em;margin-bottom:0.5em" id="create_btn">
    New
    <div class="menu">
      <a class="item" href="/random/r"><div class="ui orange empty circular label"></div>Rich Text</a>
      <a class="item" href="/random/t"><div class="ui yellow empty circular label"></div>Plain Text</a>
      <a class="item" href="/random/c"><div class="ui olive empty circular label"></div>Code</a>
      <a class="item" href="/random/m"><div class="ui blue empty circular label"></div>Markdown</a>
    </div>
  </div>
  <br>
  <h3 class="ui header">
    Rich Text Demo
    <a href="/r/demo/423" class="unit shallow"><i class="external share icon"></i></a>
  </h3>
  <iframe src="/r/demo/423?bar=hidden&demo=true"
          style="width:100%;height:30em;border-width:1px;border-color:rgba(0,0,0,0.3);resize:vertical;">
  </iframe>
  <h3 class="ui header">
    Code Demo
    <a href="/c/demo/468" class="unit shallow"><i class="external share icon"></i></a>
  </h3>
  <iframe src="/c/demo/468?demo=true"
          style="width:100%;height:30em;border-width:1px;border-color:rgba(0,0,0,0.3);resize:vertical;">
  </iframe>
  <h3 class="ui header">
    Markdown Demo
    <a href="/m/demo/324" class="unit shallow"><i class="external share icon"></i></a>
  </h3>
  <iframe src="/m/demo/324?demo=true"
          style="width:100%;height:30em;border-width:1px;border-color:rgba(0,0,0,0.3);resize:vertical;">
  </iframe>
  <br><br><br>
  <script>
    $('#create_btn, [name=histoy_dropdown]').dropdown();
    var room_url = access_cookies('prev');
    if (room_url)
    {
        $('#prev_room_button').attr('href',room_url).removeClass('transition hidden');
        $('#prev_room_button span').text(format_history(room_url),''.length);
    }
    if (room_history)
    {
      $('#historys_button').removeClass('transition hidden');
    }
  </script>
</div>
{% end %}
