{% extends base.html %}

{% block title %}Index{% end %}

{% block meta %}
<script src="{{ static_url('editor.js') }}"></script>
<script src="{{ static_url('quickjoin.js') }}"></script>
{% end %}

{% block content %}
<div class="ui main container" style="margin-top: 3em;">
  <h1 class="ui header">
    Astnote
    <div class="sub header">
    An online real-time collaborative text editor.<br>
    <span style="font-style:italic;opacity:0.8">
    powered by <a href="https://firepad.io/" target="_blank">Firepad</a>, but more than Firepad.</span>
    </div>
  </h1>
  <div class="ui compact teal dropdown button" style="margin-left:0;margin-bottom:0.5em;" id="create_btn">
    New
    <div class="menu">
      <a class="item" href="/random/r"><div class="ui orange empty circular label"></div>Rich Text</a>
      <a class="item" href="/random/t"><div class="ui yellow empty circular label"></div>Plain Text</a>
      <a class="item" href="/random/c"><div class="ui olive empty circular label"></div>Code</a>
      <a class="item" href="/random/m"><div class="ui blue empty circular label"></div>Markdown</a>
    </div>
  </div>
  <div class="ui compact blue button" style="background-color: #334D5C;"
       onclick="$('#quick_join_panel').modal('show')">Quick Join</div>
  <div class="ui modal" id="quick_join_panel">
    <i class="close icon"></i>
    <div class="content">
      <h3 class="ui header">
        Quick Join
        <div class="sub header">
        Press and hold the same button with your friend at same time.
        </div>
      </h3>
      <div>
        <div class="quick_join_button" join-key="a"></div>
        <div class="quick_join_button" join-key="b"></div>
        <div class="quick_join_button" join-key="c"></div>
        <div class="quick_join_button" join-key="d"></div>
        <div class="quick_join_button" join-key="e"></div>
      </div>
    </div>
  </div>
  <h3 class="ui header" data-type="history">
    Historys
  </h3>
  <div class="ui labels" id="history_buttons" data-type="history"></div>
  <div id="demos">
    <h3 class="ui header">
      Demos
    </h3>
    <div class="ui top attached tabular menu">
      <div class="item" data-tab="rich">Rich Text</div>
      <div class="item" data-tab="md">Markdown</div>
      <div class="item" data-tab="code">Code</div>
    </div>
    <div class="ui bottom attached tab segment" data-tab="rich">
      <iframe raw-src="/r/demo/423?demo=true&bar=hidden" parent-tab="rich"></iframe>
    </div>
    <div class="ui bottom attached tab segment" data-tab="md">
      <iframe raw-src="/m/demo/324?demo=true" parent-tab="md"></iframe>
    </div>
    <div class="ui bottom attached tab segment" data-tab="code">
      <iframe raw-src="/c/demo/468?demo=true" parent-tab="code"></iframe>
    </div>
  </div>
  <br>
  <script>
    historys.display_historys = function()
    {
      var history_buttons = $('#history_buttons').empty();
      $.each(historys.history,function(i,e){
        history_buttons.prepend('<a class="ui compact teal button" href="'+historys.url(e)+'">'
            +historys.format(e)+'</a>');
      });
    }

    $('#create_btn, [name=histoy_dropdown]').dropdown();
    $('#demos .tabular.menu .item').tab({
      onFirstLoad:function(tabPath, parameterArray, historyEvent){
        var i = $('#demos iframe[parent-tab="'+tabPath+'"]');
        var t = $('#demos .tab.segment[data-tab="'+tabPath+'"]');
        t.addClass('loading');
        i.attr('src',i.attr('raw-src'));
        i.on('load',function(){
          t.removeClass('loading');
        });
    }});
    $(function(){
      if (!historys.init()) $('[data-type="history"]').hide();
      setTimeout($('#demos .tabular.menu .item[data-tab="rich"]').click(),500);
    });

    quickjoin.reg($('.quick_join_button'),'join');
  </script>
  <style>
  body{background: url("{{ static_url('geometry2.png') }}");}
  #demos
  {
    margin: 2em 0;
  }
  #demos .tabular.menu .item
  {
    cursor: pointer;
  }
  #demos iframe
  {
    width:100%;
    height:60em;
    border-width:0;
    resize:vertical;
    margin-bottom: -0.2em;
  }
  #demos .tab.segment
  {
    padding: 0;
  }
  </style>
</div>
{% end %}
