{% extends base.html %}

{% block title %}Index{% end %}

{% block content %}
<div class="ui main container" style="margin-top: 3em;">
  <h1 class="ui header">
    Astnote
    <div class="sub header">
    A online collaborative text and code editor<br>
    <span style="font-style:italic;opacity:0.8">powered by <a href="https://firepad.io/">Firepad</a></span>
    </div>
  </h1>
  <a href="{{root}}/r/demo/423" class="ui orange button">
    Text Demo
  </a>
  <a href="{{root}}/c/demo/468" class="ui orange button">
    Code Demo
  </a>
  <br><br>
  <a href="{{root}}/random/r" class="ui olive icon labeled button">
    <i class="icon plus"></i>
    Note
  </a>
  <a href="{{root}}/random/c" class="ui olive icon labeled button">
    <i class="icon plus"></i>
    Code
  </a>
  <br><br>
  <a class="ui blue button transition hidden" id="prev_room_button">
      Go to previous note<br>
      <span style="font-style:italic;margin-top:0.3em;opacity:0.7;"></span>
  </a>
  <script>
    var room_url = access_cookies('prev');
    if (room_url)
    {
        $('#prev_room_button').attr('href',room_url).removeClass('transition hidden');
        $('#prev_room_button span').text(format_history(room_url),'{{root}}'.length);
    }
  </script>
</div>
{% end %}
