.menu.bar
{
  z-index: 100000;
  padding-bottom:0.5em;
  border-bottom: 1px solid #c9c9c9;
  background:#fff
}
.unit
{
  color:#000;
  opacity: 0.5;
  transition: opacity 0.2s ease-in-out;
}
.menu.bar .unit, .menu.bar .inline
{
  display:inline-block;
  margin:0.5em 0 0 1em;
}
.unit:hover
{
  opacity: 0.8;
}
.unit.highlight
{
  opacity: 0.6;
}
.unit.highlight:hover
{
  opacity: 1;
}
.unit.shallow
{
  opacity: 0.2;
}
.unit.shallow:hover
{
  opacity: 0.5;
}
.dark .menu.bar
{
  background:#111;
  border-bottom: 1px solid rgba(125,125,125,0.5);
}
.dark .unit, .unit.dark, .dark .inline
{
  color:#fff !important;
}

i.image.icon:before
{
  content: "\f03e"
}
.title-input
{
  display: inline-block;
  border: 0;
  padding: 0 0.5em;
  margin: 0 0.5em;
  min-width: 10em;
  max-width: 50em;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  border-radius: 0.3em;
  line-height: 1.4285em;
  background: none;
  vertical-align: middle;
}
.dark .title-input
{
  color: #fff;
}
.title-input:focus {
  outline: none;
}

@media screen and (max-width: 600px) {
  .title-input
  {
    display: block;
    padding-top: 0.8em;
  }
  .menu.bar .dropdown .text
  {
    display: none;
  }
}

#history_buttons .button
{
  opacity: 0.4;
  margin-bottom: 0.25em;
}
#history_buttons .button:nth-child(1)
{
  opacity: 1;
}
#history_buttons .button:nth-child(2)
{
  opacity: 0.8;
}
#history_buttons .button:nth-child(3)
{
  opacity: 0.6;
}
/*-----Quick Join-----*/
.quick_join_button
{
  width: 3em;
  height: 3em;
  margin: -0.3em;
  background-color: #eee;
  border-radius: 10em;
  display: inline-block;
  -webkit-transform: scale(0.5,0.5);
          transform: scale(0.5,0.5);
  -webkit-transition: all 0.5s ease-in;
          transition: all 0.5s ease-in;
}
.quick_join_button:active
{
  -webkit-transform: scale(1,1);
          transform: scale(1,1);
}
.quick_join_button[join-key="0"]
{
  background-color: #334D5C;
}
.quick_join_button[join-key="1"]
{
  background-color: #45B29D;
}
.quick_join_button[join-key="2"]
{
  background-color: #EFC94C;
}
.quick_join_button[join-key="3"]
{
  background-color: #E27A3F;
}
.quick_join_button[join-key="4"]
{
  background-color: #DF5A49;
}
/*-----Markdown-----*/
#editor #mark_preview
{
    display: none;
    height: 100%;
    overflow: auto;
}
#editor #firepad
{
    height: 100%;
    overflow: auto;
}
#editor.markdown #firepad .CodeMirror
{
    background-color: #f6f6f6;
    padding: 0 20px 20px 20px;
    font-size: 14px;
    font-family: 'Monaco', courier, monospace;
}

#editor.markdown.preview #mark_preview
{
    display: inline-block;
    width: 49.5%;
    vertical-align: top;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px;
}
#editor.markdown #mark_preview .button
{
    opacity: 0.6;
    cursor:pointer;
    margin-left: 1em;
    float: right;
    display: inline-block;
}
#editor.markdown #mark_preview .button:hover
{
    opacity: 1;
}
#editor.markdown.preview #firepad
{
    width:50%;
    display:inline-block;
}
#editor.markdown.preview #firepad .CodeMirror
{
    background-color: #f6f6f6;
}

@media screen and (max-width: 600px) {
    #editor.markdown.preview #mark_preview
    {
        display: block;
        width: 100%;
    }
    #editor.markdown.preview #firepad
    {
        display:none;
    }
}
/* ----- Index iframes -----*/
#demos
{
  margin: 2em 0;
}
#demos .tabular.menu .item
{
  cursor: pointer;
}
#demos iframe
{
  width:100%;
  height:60em;
  border-width:0;
  resize:vertical;
  margin-bottom: -0.2em;
}
#demos .tab.segment
{
  padding: 0;
}
