html { height: 100%; }
body { margin: 0; height: 100%;}

.firepad-userlist {
  /* default height */
  vertical-align: middle;
  color: #fff;
  text-align: left;
  font-family: 'Helvetica Neue', sans-serif;
}

.firepad-userlist-invite
{
  display: inline-block;
  cursor:pointer;
  margin:0.8em 1em;
}

.firepad-userlist-heading {
  display: inline-block;
  margin: 20px 15px 0;
  font-size: 12px;
  font-weight: bold;
}

.firepad-userlist-users {
  display: inline-block;
}

.firepad-userlist-user {
  display: inline-block;
  padding: 0 0 0 1em;
  vertical-align: middle;
}

.firepad-userlist-color-indicator {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-right: 0.1em;
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;
  vertical-align: middle;
}

.firepad-userlist-color-indicator.self
{
  cursor:pointer;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  -webkit-border-radius: 0.3em;
     -moz-border-radius: 0.3em;
          border-radius: 0.3em;
}

input.firepad-userlist-name-input {
  display: inline-block;
  border: 0;
  padding: 0.3em 0.5em;
  width: 7em;
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  border-radius: 0.3em;
  background: rgba(255,255,255,0.1);
  vertical-align: middle;
}

.firepad-userlist-name-hint {
  display: inline-block;
}

.firepad-userlist-name {
  display: inline-block;
  padding: 0.5em;
  vertical-align: middle;
}