.firepad-userlist {
  /* default height */
  min-width: 20em;
  color: #fff;
}

.firepad-userlist {
  text-align: left;
  font-family: 'Helvetica Neue', sans-serif;
  line-height: normal;
}

.firepad-userlist-heading {
  margin: 20px 15px 0;
  font-size: 12px;
  font-weight: bold;
}

.firepad-userlist-users {
  position: absolute;
  left: 15px;
  right: 15px;
  top: 38px;
  bottom: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}

.firepad-userlist-user {
  position: relative;
  margin: 3px 0;
  height: 32px;
  padding-bottom: 5px;
}

.firepad-userlist-color-indicator {
  display: inline-block;
  width: 32px;
  height: 32px;
  -webkit-border-radius: 10em;
  -moz-border-radius: 10em;
  border-radius: 10em;
}

input.firepad-userlist-name-input {
  position: absolute;
  left: 38px;
  top: 0;
  width: 105px;
  height: 20px;
  border: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  font-size: 14px;
  line-height: 14px;
  padding: 1px;
  background: none;
}

.firepad-userlist-name-hint {
  position: absolute;
  left: 38px;
  top: 23px;
  width: 300px; /* I'd rather it clip than wrap. */
  font-size: 9px;
  line-height: 11px;
}

.firepad-userlist-name {
  position: absolute;
  top: 2px;
  left: 38px;
  width: 95px;
  font-size: 13px;
}

.menu.bar
{
  z-index: 100000;
  padding-bottom:0.5em;
  border-bottom: 1px solid #c9c9c9;
  background:#fff
}

.menu.bar .unit
{
  display:inline-block;
  margin:0.5em 0 0 1em !important;
  color:#9c9c9c;
}

.menu.bar .highlight
{
  color: #555;
}

.menu.bar.dark
{
  background:#111;
  border-bottom: 1px solid #999;
}

.menu.bar.dark .unit
{
  color:#999;
}

.menu.bar.dark .highlight
{
  color:#eee;
}

.CodeMirror {
    overflow: show !important;
}